
  body {
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0;
  }

  .headrs {
    background-image: url(baner57.png);
    height: 50vh;
  }

  .sps2 {
   background-color: rgba(0, 0, 0, 0.377);
   height: 50vh;
  }

  header {
   display: flex;
   justify-content:space-between;
   align-items:center;
   padding: 0px 50px;
   font-weight: 600;
   
   }

   a {
      color: aliceblue;
      font-size: 17px;
      padding: 0px 10px;
      text-decoration: none;
   }

   a:hover {
      color: rgb(26, 25, 25);
   }

   nav a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 600;
      padding: 40px 30px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    nav a,
    nav a:after,
    nav a:before {
      transition: all .9s;
    }
    nav a:hover {
      color: #555;
    }
    
   .Games {
      background-color: #111111;
      height: 80vh;
   }

   h1 {
      color: #ffffff;
      font-size: 35px;
      justify-content: left;
      display: flex;
      padding: 30px 100px;
      font-family: 'Gowun Batang', serif;
      font-family: 'Lora', serif;
      font-family: 'Merriweather', serif;
      font-family: 'Noto Serif', serif;
      font-family: 'Roboto Slab', serif;
      font-family: 'Rubik Burned', system-ui;
      font-family: 'Simonetta', serif;
      font-weight: bold;
   }

   .title {
      color: #ffffff;
      padding: 10px 0px;
      font-size: 40px;
   }

   .store1 {
      font-size: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 12px;
    }
    
    .store1 img{
      padding: 20px 100px;
      box-shadow:0 0 5px rgba(0, 0, 0, 0.582);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
    }
    
    .store1 img:hover {
      color: #555;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
      -webkit-transform: scale(1.1);
      transform: scale(1.5.1.5);
    }

    .ftgame {
      background-color: #111111;
      height: 80vh;
    }

    .new {
      background-color: #111111;
      height: 80vh;
    }
    .description {
      background-image: url(419710260_1802676613536736_3471729116785911847_n.png);
      height: 45vh;
    }

    .ads {
      background-color: #000000e8;
      height: 45vh;
    }

    .des {
      color: aliceblue;
      font-size: 17px;
      padding: 20px 80px;
    }

    .store {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 21px;
      font-weight: 800; 
      padding-top: 10px;
    }
    
    .store a {
      display:flex;
      justify-content: center;
      color: #ffffff;
      font-size: 18px;
      padding: 0px 20px;
      font-weight: 800;
    }
    
    .store p {
      font-size: 12px;
      color: rgb(122, 122, 122);
      font-weight: 800;
    }

    
    .social {
      color: #ffffff;
      justify-content: right;
      padding: 10px 20px;
      padding-top: 100px;
      height: 0px;
      display: flex;
    }
    
    .social a {
      display: flex;
      color: #ffffff;
      font-size: 20px;
      padding: 2px 15px;
    }

    .links {
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 0px 50px;
      height: 10px;
      font-weight: 800;
    }
    
    .links a {
      color: #ffffff;
      padding: 12px 50px;
      font-size: 16px;
      font-weight: 800;
    }

    .footer {
      color: #ffffff;
      font-size: 15;
      padding: 5px 50px;
      display: flex;
      justify-content: left;
    }

    .icon1:hover {
      color: rgb(0, 68, 255);
    }
    
    .icon2:hover {
      color: rgba(41, 255, 255, 0.795);
    }
    
    .icon3:hover {
      color: rgba(255, 0, 0, 0.918);
    }
    
    .icon4:hover {
      color: rgba(193, 53, 132);
    }
    
    .icon5:hover {
      color: rgb(88, 101, 242);
    }
    
    .icon6:hover {
      color: rgb(189, 163, 18);
    }

    .p1 {
      width: 390px;
      height: 15px;
      font-size: 13px;
      color: rgb(133, 133, 133);
    }


    h3 {
      font-size: 50px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      padding: 100px 40px;
    }


      .about {
         display: flex;
         justify-content: left;
         padding: 20px 50px;
      }

      .end {
         height: 6vh;
         background-color: #111111;
       }

       .ads1 {
         background-color: #000000cb;
         height: 45vh;
       }

       .subs {
         display: flex;
         flex-direction: row;
         justify-content: center;
       }

       h4 {
         color: aqua;
         font-size: 33px;
         padding: 0px 0px;
         font-weight: 900;
         height: 5px;
       }

       h5 {
         color: #ffffff;
         font-size: 15px;
         display: flex;
         flex-direction: column;
         justify-content: center;
       }

       .pre {
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 0px 0px;
       }
       
       button {
         width: 200px;
         padding: 15px 0;
         text-align: center;
         margin: 20px 10px;
         border-radius: 25px;
         font-weight: bold;
         border: 2px solid #33ff00;
         background: transparent;
         color: #fff;
         cursor: pointer;
         overflow: hidden;
         position: relative;
         font-size: 20px;
         box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
         -webkit-transition-property: box-shadow, transform;
         transition-property: box-shadow, transform;
       }
     
       button:hover {
         color: #00ff15;
         box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
       }

       i {
         padding: 0px 5px;
         font-size: 20px;
       }

       .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
       }